registry=https://registry.npmjs.org/
//npm.pkg.github.com/:_authToken=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

# @dhuntleypro:registry=https://npm.pkg.github.com
@appsformankind:registry=https://npm.pkg.github.com
